@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap');

html{
    scroll-behavior: smooth;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: "Poppins", sans-serif;
}

h1{
    color: rgba(55, 55, 55, 1);
}

.backgroundImage{
    position: absolute;
    z-index: -1;
    height: 100vh;
    width: 100%;
    background-size: cover;
    filter: brightness(72%);
}
header{
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding: 32px 9%;
    background-color: transparent;
    height: 96px;
}
.navitem a {
    font-family: "Poppins", sans-serif;
    font-weight: 500;
    font-size: 16px;
    color: #fff;
    text-decoration: none;

    display: inline-block;
    padding: 0px 20px;

    height: 100%;
    width: auto;
    
}

.navitem a::after{
    content: '';
    display: block;
    width: 0;
    background: #fff;
    transition: 0.3s;
}
.navitem a:hover::after{
    content: '';
    display: block;
    height: 2px;
    width: 100%;
    background: #fff;
    transition: 0.3s;
}
.logo{
    width: 202.42px;
    margin-right: auto;
}
main{
    display: flex;
    height: calc(100vh - 96px);
    align-items: center;

    background-color: transparent;

    padding: 30px 9%;
    
}
.section-title{
    font-size: 38px;
}
.highlight-grey{
    color: #7B7B7B;
}

.exline{
    display: flex;
    align-items: center;
    text-align: center;
}

.exline::before{
    display: inline-block;
    content: "";
    border-top: 2px solid #4195C0;
    width: 3rem;
    margin: 0 1rem;
}
.line::after{
      display: inline-block;
      content: "";
      border-top: 2px solid #4195C0;
      width: 3rem;
      margin: 0 1rem;
}
.highlight-blue{
    color: #4195C0;

}
.sec3{
    display: flex;
    flex-direction: column;
    height: 100%;
    width: 100%;
}

.sec3-top{
    width: 100%;
    display: flex;
    flex-direction: row;
    flex-grow: 1;
}

.sec3-top-left{
    width: 50%;
    flex-grow: 1;
    padding: 48px;
    display: flex;
    flex-direction: column;
}

.sec3-top-right{
    width: 50%;
    flex-grow: 1;
}
.content-left2{
    align-items: center;
    background-color: transparent;
    padding-right: 18px;
    
}
.hero-img{
    width: 480px;
}
.hero-img2{
    width: 760px;
}
.content-left{
    width: 80%;
}
.content-right{
    justify-content: end;

}
main h1{
    font-size: 2em;
    font-weight: 700;
    color: #fff;
}
main p{
    font-size: 14px;
    font-weight: 600;
    color: #fff;
    
    margin: 30px 0;
}

.cta{
    padding: 15px 30px;
    background: #fff;
    outline: none;
    border: none;
    font-weight: 500;

}
.selected{
    box-shadow: none;
    background-color: #B7D8E8;
}
.section-1{
    background-color:#fff;
    
}
.title-container{
    display: flex;
    justify-content: center;
    align-items: center;
    color: #4195C0;
    padding: 48px 0;
}

.brandsTxt{
    font-weight: 300;
    font-size: 1em;
}
.container-1{
    padding: 48px 10%;
    /* display: none; */
}

.container-2{
    padding: 48px 10%;
    display: none;
}
.column {
    float: left;
    width: 50%;
    padding: 10px;
    height: 500px; /* Should be removed. Only for demonstration */

    box-shadow: rgba(0, 0, 0, 0.25) 1px -1px 5px;
    padding: 30px 10%;
  }
  .column-content{
      display: flex;
      justify-content: center;
      align-items: center;
      height: 100%;

  }

  .section-title{
      font-size: 38px;
  }

  .highlight-blue{
      color: #4195C0;

  }


  
.container-one{
    width: 90%;
    margin: 50px auto;
  }
  .heading {
    text-align: center;
    font-size: 30px;
    margin-bottom: 50px;
  }
  
  .row {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    flex-flow: wrap;
  }
  
  .card {
      padding: 0 10%;


    display: flex;
    justify-content: center;
    align-items: center;
    background: #fff;
    margin-bottom: 50px;
    transition: 0.3s;
  }
  
  
  .card-body {
    padding: 30px 20px;
    text-align: center;
    font-size: 1.4vw;
    justify-content: center;
  }
  
  .card:hover {
    transform: scale(1.05);
    box-shadow: 0 0 40px -10px rgba(0, 0, 0, 0.25);
  }


.section-2{
    width: 100%;
    display: flex;
    flex-direction: column;

}

.section-2 .containerTop{
    display: flex;
    width: 100%;
}


.section-2 .containerTop .left{
    flex: 0.5;
    width: 50%;
    display: flex;
    flex-direction: column;
    height: auto;
    justify-content: space-between;

    
}



.section-2 .containerTop .left #top h3, .containerTop .left #top h1{
    text-align: center;
    margin-bottom: 0.3em;
}

.section-2 .containerTop .left #top h3{
    color: #4195C0;
    margin-bottom: 0.4em;

}


.section-2 .containerTop .left #top h1{
    padding: 1.4em;
    font-size: 3em;
}

.section-2 .containerTop .left img{
    width: 100%;
    height: auto;
}
.section-2 .containerTop .right{
    flex: 0.5;
    width: 50%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    background: #E8F4F8;

}
.section-2 .containerTop .right .servCard {
    width: 50%;
    padding: 1.5em 3em;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    cursor: pointer;    
}
.section-2 .containerTop .right .servCard .icon{
    display: flex;
    justify-content: center;
}
.section-2 .containerTop .right .servCard .icon img{
    height: 50px;

}

.section-2 .containerTop .right .servCard .head{
    margin-top: 0.4em;
    font-family: Poppins;
    text-align: center;

    font-size: 1.2em;
    font-weight: 600;
    color: black;
}

.section-2 .containerTop .right .servCard .subHead{
    font-size: 0.7em;
    text-align: center;
    color:#7B7B7B;
    font-weight: 300;
}
  
.section-2 .containerTop .right .servCard .desc{
    font-size: 0.8em;
    text-align: center;

    color:#7B7B7B;
    font-weight: 300;
}
.section-2 .containerTop .right .servCard:hover{
    background: #B7D8E8;

}

.section-3{
    width: 100%;
    display: flex;
    flex-direction: column;
    margin-top: 3em !important;

}

.containerBottom{
    display: flex;
    width: 100%;
}


.containerBottom .right{
    flex: 0.3;
    width: 50%;
    display: flex;
    flex-direction: column;
    height: auto;
    justify-content: center;
    
}



.containerBottom .right #top h3, .containerBottom .right #top h1{
    text-align: center;
}

.containerBottom .right #top h3{
    color: #4195C0;

}


.containerBottom .right #top h1{
    padding: 1.4em;
    font-size: 2.6em;
    white-space: nowrap;
}

.containerBottom .right img{
    width: 100%;
    height: auto;
}

.containerBottom .left{
    flex: 0.7;
    width: 50%;
    display: grid;
    grid-template-columns: auto auto auto;
    /* flex-direction: row; */
    /* flex-wrap: wrap; */
    background: #E8F4F8;

}
.containerBottom .left .servCard {
    width: 100%;
    height: 100%;
    padding: 2em;
    transition: all 200ms ease-out;
}

.whitebg{
    background-color: white;
    box-shadow: rgba(0, 0, 0, 0.15) 1px 2px 8px;
}
.noshadoow{
    /*filter: drop-shadow(0px 0px 4px rgba(0, 0, 0, 0.527))*/
    box-shadow: rgba(0, 0, 0, 0.15) 1px 2px 8px;
    z-index: 1;

}
.containerBottom .left .servCard .icon{
    display: flex;
    justify-content: center;
}
.containerBottom .left .servCard .icon img{
    height: 50px;

}

.containerBottom .left .servCard .head{
    margin-top: 0.4em;
    font-family: Poppins;
    text-align: center;
    margin-bottom: 2em;
    font-size: 1.2em;
    font-weight: 600;
    color: black;
}

.containerBottom .left .servCard .subHead{
    font-size: 0.7em;
    text-align: center;
    color:#7B7B7B;
    font-weight: 300;
}
  
.containerBottom .left .servCard .desc{
    font-size: 0.8em;
    text-align: center;

    color:#7B7B7B;
    font-weight: 300;
}


#ribbon{
    display: flex;
    flex-direction: row;
    background: #4195C0;
    width: 100%;
    height: 250px;

}

#ribbon .ribCards{
    width: 100%;
    padding: 2em;
}

#ribbon .title, #ribbon .txt{
    text-align: center;
    color: white;

}

#ribbon .title{
    font-size: 2em;
    font-weight: 600;
}
#ribbon .title span{
    font-size: 0.6em;
    font-weight: 100;
}
#ribbon .txt{
    font-size: 1em;
}

#ribbon .ribCards .img{
    display: flex;
    justify-content: center;
    margin-bottom: 1.2em;

}

#ribbon .ribCards .img img{
    height: 50px;
}

.hrLine{
    height: 100%;
    width: 10px;
    opacity: 0.23;
    background-color: white;
}

.section-4{
    display: grid;
    grid-template-columns: auto auto auto;
    width: 100%;
}

.sec4-row{
    width: 100%;
    display: flex;
    flex-direction: row;
}

.sec4-item{
    width: 100%;
    flex-grow: 1;
    height: 360px;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: rgba(0, 0, 0, 0.15) 1px 2px 4px;
    flex-direction: column;
    text-align: center;
    padding: 64px;
    z-index: 1;
}

.sec4-blue{
    background: rgba(232, 244, 248, 1);
    z-index: 0 !important;
}

.sec4-item img{
    width: 72px;
}

.sec4-item p{
    margin-top: 32px;
    font-size: 18px;
}

.brand-row{
    display: flex;
    flex-direction: row;
    width: 100%;
    justify-content: center;
    height: 480px;
}

.brand-row div{
    width: 100%;
}

.brand-row img{
    width: 100%;
    padding: 10%;
}

.section-5{
    background: rgba(232, 244, 248, 1);
    padding: 96px 64px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 64px;
}

.test-holder{
    display: flex;
    flex-direction: column;
    width: 100%;
    padding: 64px 72px;
}

.test-item{
    width: 100%;
    display: flex;
    flex-direction: row;
    animation: fadein 0.5s;
}

.test-person{
    display: flex;
    flex-direction: column;
    width: 180px;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.test-person img{
    border-radius: 50%;
    width: 180px;
    height: 180px;
    border: 1px solid #1B71A1;
}

.test-person .test-person-name{
    font-size: 22px;
    font-weight: 700;
    margin-top: 24px;
}

.test-person .test-person-subtitle{
    font-size: 18px;
    font-weight: 500;
    color: rgba(123, 123, 123, 1);
}

.test-content{
    margin-left: 32px;
    display: flex;
    flex-direction: column;
}

.test-stars{
    display: flex;
    flex-direction: row;
    margin-top: 8px;
}

.test-stars img{
    width: 24px;
    margin-right: 8px;
}

.test-content h1{
    font-size: 36px;
}

.test-content p{
    font-size: 18px;
    line-height: 26px;
    color: #7B7B7B;
    margin-top: 24px;
}

.sec5-logos{
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}

.section-6{
    background: #FFF;
    padding: 96px 0px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.team-holder{
    display: flex;
    flex-direction: row;
    width: 100%;
    margin-top: 64px;
}

.team-item{
    display: flex;
    flex-direction: column;
    width: 100%;
    align-items: center;
    text-align: center;
    flex-grow: 1;
    padding: 64px;
    color: rgba(123, 123, 123, 1);
    box-shadow: rgba(0, 0, 0, 0.15) 1px 2px 8px;
    font-size: 16px;
    animation: fadein 0.5s;
}

.team-item img{
    width: 128px;
    height: 128px;
    border-radius: 50%;
}

.team-name{
    font-weight: 600;
    font-size: 24px;
    color: rgba(65, 149, 192, 1);
    margin-top: 16px;
}

.team-position{
    font-weight: 600;
}

.team-info{
    font-weight: 400;
    font-size: 14px;
}

.team-spacer{
    height: 16px;
}

.footer{
    display: flex;
    flex-direction: column;
    width: 100%;
}

.footer-main{
    display: flex;
    flex-direction: row;
    width: 100%;
    background: rgba(233, 244, 249, 1);
    color: rgba(55, 55, 55, 1);
    padding: 64px;
}

.footer h1{
    color: rgba(55, 55, 55, 0.8);
}

.footer-bottom{
    background: #4195C0;
    color: #FFF;
    width: 100%;
    height: 64px;
    display: flex;
    align-items: center;
    padding-left: 96px;
    justify-content: flex-start;
    font-size: 14px;
    font-weight: 400;
}

.footer-section{
    display: flex;
    flex-direction: column;
    width: 100%;
    flex-grow: 1;
    padding-right: 32px;
    align-items: flex-start;
}

.footer-section p{
    color: rgba(91, 93, 94, 1);
    font-size: 16px;
    max-width: 256px;
    margin-top: 16px;
}

.footer-spacer{
    display: block;
    height: 20px;
}

.footer-section a{
    color:rgba(55, 55, 55, 1);
    font-size: 16px;
    font-weight: 300;
    text-decoration: none;
    margin-bottom: 4px;
}

.footer-section a:hover{
    text-decoration: underline;
}

.test-select{
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-top: 64px;
}

.test-select-item{
    width: 24px;
    height: 12px;
    background: rgba(27, 113, 161, 0.4);
    border-radius: 22px;
    margin: 0px 4px;
    cursor: pointer;
}

.test-select-item.selected{
    width: 24px;
    height: 12px;
    background: rgba(65, 149, 192, 1);
    border-radius: 22px;
}

.services-grid{
    width: 100%;
    display: grid;
    grid-template-columns: auto auto auto auto;
}

.contact-content{
    display: flex;
    flex-direction: column;
    padding: 32px 0px;
}

.contact-place{
    padding: 32px;
    width: 100%;
    cursor: pointer;
}

.contact-place.selected{
    background: #E8F4F8;
}

.contact-title{
    color: rgba(65, 149, 192, 1);
    font-size: 24px;
    font-weight: 600;
    margin-left: 32px;
}

.place-name{
    font-size: 18px;
    font-weight: 700;
}

.contact-places{
    width: 100%;
}

.place-address{
    font-size: 14px;
    font-weight: 400;
    color: rgba(123, 123, 123, 1);
}

.contact-section{
    display: flex;
    flex-direction: row;
    width: 100%;
}

.contact-left{
    width: 480px;
    flex-grow: 1;
    display: block;
    padding-top: 64px;
    flex-shrink: 0;
    max-width: 100%;
}

.contact-right{
    display: block;
    width: 100%;
    flex-grow: 1;
    height: 512px;
}

.contact-bottom{
    display: flex;
    flex-direction: row;
}

.contact-bottom-section{
    width: 100%;
    flex-grow: 1;
    height: 256px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: rgba(123, 123, 123, 1);
}

.sec5-logos img{
    max-width: 100%;
}

@keyframes fadein {
    from { 
        opacity: 0; 
        transform: translateX(-64px);
    }
    to   { 
        opacity: 1; 
        transform: translateX(0px);
    }
}

@media screen and (max-width: 1000px) {
    .hero-img{
        display: none;
    }
    .navitem{
        display: none;
    }
    .footer-main{
        flex-direction: column;
    }
    .containerBottom{
        flex-direction: column-reverse;
    }
    .row{
        flex-direction: column;
    }

    .column{
        width: 100%;
    }

    .containerTop{
        flex-direction: column;
    }

    .left, .right{
        width: 100% !important;
    }

    #ribbon{
        flex-direction: column;
        height: auto;
    }

    .ribCards{
        border-bottom: solid 1px rgba(255,255,255, 0.15);
    }

    .section-5{
        padding: 64px 16px;
    }

    .sec5-logos{
        flex-direction: column;
    }

    .sec5-logos img{
        margin-top: 32px;
    }

    .team-holder{
        flex-direction: column;
    }

    .footer-section{
        margin-top: 32px;
    }

    .footer-section p{
        max-width: initial;
    }

    .sec3-top{
        flex-direction: column;
    }

    .sec3-top > div{
        width: 100%;
    }

    .sec3-top > img{
        width: 100%;
    }

    .services-grid{
        grid-template-columns: auto auto;
    }

    .test-item{
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }

    
    .test-content{
        flex-direction: column;
        align-items: center;
        justify-content: center;
        text-align: center;
    }


    .contact-section{
        display: flex;
        flex-direction: column;
    }

    .contact-left{
        width: 100%;
    }

    .section-4{
        grid-template-columns: auto auto;
    }

    .brand-row{
        height: 256px;
    }

    
}

@media screen and (max-width: 720px) {
    .servCard{
        display: none;
    }

    .servCard.whitebg{
        display: block
    }
    .containerBottom .left{
        grid-template-columns: auto auto;
    }

    .contact-bottom{
        flex-direction: column;
        padding: 32px 0px;
    }

    .contact-bottom-section{
        height: auto;
        padding: 16px 48px;
        text-align: center;
    }
    
    .section-4{
        grid-template-columns: auto;
    }

    .brand-row{
        height: 128px;
    }
    
    .test-holder{
        padding: 32px;
    }

    .sec4-item{
        padding: 8px;
    }
}

@media screen and (max-width: 540px) {
    .servCard{
        display: none;
    }

    .servCard.whitebg{
        display: block
    }
    .containerBottom .left{
        grid-template-columns: auto;
    }

    .section-2 .containerTop .right .servCard{
        width: 100%;
    }

}
  
  @media screen and (max-width: 620px) {
    .container {
      width: 40%;
    }
    .card-body{
        font-size: 3vw;
    }
  
    .heading {
      padding: 20px;
      font-size: 20px;
    }
  
    .card {
      width: 80%;
    }
  }
  